- name: install master
  hosts: all
  become: true
  gather_facts: yes
  vars:
    ca_server: 192.168.1.8
    public_ip_dns: 192.168.1.9
    cluster_admin: ubuntu
    sw_container_fs: False
    prevent_download: True
    download_dir: /nfs/download
  tasks:
    - debug: msg="{{ ansible_facts.hostname }}"
  roles:
    - base_linux
    #- serf
