#
# Nested VM
#
domain: labo.local
os_variant:  ubuntu22.04

cluster_name: test
vm_spec:
  - name: "hvhv1"
    cpu: 8
    memory: 32784
    private_ip: "172.16.99.101"
    public_ip:  "192.168.1.201"
    storage:
    - name: /dev/vdb
      size: 100
      vg:   vg1
    - name: /dev/vdc
      size: 100
      vg:   vg2
    - name: /dev/vdd
      size: 100
      vg:   vg3
    playbook: install.yaml
    comment: "Test node #1"


#  - name: "server2"
#    cpu: 1
#    memory: 1024
#    private_ip: "172.16.99.102"
#    playbook: install.yaml
#    comment: "Test node #2"
#  - name: "server3"
#    cpu: 1
#    memory: 1024
#    private_ip: "172.16.99.103"
#    playbook: install.yaml
#    comment: "Test node #3"
#  - name: "server4"
#    cpu: 1
#    memory: 1024
#    private_ip: "172.16.99.104"
#    playbook: install.yaml
#    comment: "Test node #4"
